body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-board {
    border: 1px solid black;
}

.player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}

.ladder {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
}
